exclude: (^hls4ml\/templates\/(vivado|quartus)\/(ap_types|ac_types)\/|^test/pytest/test_report/)

repos:
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.9.0
  hooks:
  - id: black
    language_version: python3
    args: ['--line-length=125',
           '--skip-string-normalization']

- repo: https://github.com/tox-dev/pyproject-fmt
  rev: v2.11.0
  hooks:
    - id: pyproject-fmt

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: requirements-txt-fixer
  - id: trailing-whitespace

- repo: https://github.com/PyCQA/isort
  rev: 7.0.0
  hooks:
  - id: isort

- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.0
  hooks:
  - id: pyupgrade
    args: ["--py310-plus"]

- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    exclude: docs/conf.py
    additional_dependencies: [flake8-bugbear, flake8-print]
    args: ['--max-line-length=125',  # github viewer width
           '--extend-ignore=E203,T201',  # E203 is not PEP8 compliant
           '--per-file-ignores=hls4ml/model/optimizer/passes/bit_exact.py:E741',
           # i for #int w/o sign, I for #int w/ sign when massively processing bw conversions
    ]

- repo: https://github.com/mgedmin/check-manifest
  rev: "0.51"
  hooks:
  - id: check-manifest
    stages: [manual]

- repo: https://github.com/jmduarte/p-clang-format
  rev: "v1.0.4"
  hooks:
    - id: p-clang-format
      types_or: [c++, c, cuda]
ci:
    autofix_commit_msg: '[pre-commit.ci] auto fixes from pre-commit hooks'
    autofix_prs: false  # default is true
    autoupdate_branch: 'main'
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: weekly
    skip: []
    submodules: true
